
/* css for tweet-table */
.admin-tweet-container {
    background-color: #F0F0F0;
    border-radius: 30px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    padding: 20px;
}

.tweet-table {
    border-collapse: collapse;
    width: 100%;
}

.table-tweetid,
.table-tweetcontent,
.table-tweet-username,
.table-date {
    padding: 10px;
    text-align: left;
}
.table-tweet-content{
    padding: 16px;
    height: 78px;
    overflow: scroll;
}


.admin-table-column {
    border-bottom: 1px solid #dddddd;
}

.admin-table-column:last-child {
    border-bottom: none;
}

.admin-tweet-delele-button {
    background: #F0F0F0;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px #bebebe,
                inset -5px -5px 5px #ffffff;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    transition: all 0.25s ease-in-out;
}

.admin-tweet-delele-button:hover {
    background: linear-gradient( #db7ba8aa, #e40d1b86);
    box-shadow: inset 2px 2px 2px #db7ba8aa,
                inset -2px -2px 2px #e40d1b86;
}

/* css for comment-table */
.admin-comment-container {
    background-color: #F0F0F0;
    border-radius: 30px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    padding: 20px;
}

.comment-table {
    border-collapse: collapse;
    width: 100%;
}

.table-commentid,
.table-commentcontent,
.table-comment-username,
.table-comment-date {
    padding: 10px;
    text-align: left;
}
.table-comment-content{
    padding: 16px;
    height: 78px;
    overflow: scroll;
}
.admin-comment-delele-button {
    background-color: #F0F0F0;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px #bebebe,
                inset -5px -5px 5px #ffffff;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.admin-comment-delele-button:hover {
    background: linear-gradient( #db7ba8aa, #e40d1b86);
    box-shadow: inset 2px 2px 2px #db7ba8aa,
                inset -2px -2px 2px #e40d1b86;
}


.admin-table-column {
    border-bottom: 1px solid #dddddd;
}

.admin-table-column:last-child {
    border-bottom: none;
}


/* css for user-table */

.admin-user-container {
    background-color: #F0F0F0;
    border-radius: 30px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    padding: 20px;
}
.user-table {
    border-collapse: collapse;
    width: 100%;
}

.table-userid,
.table-user-email,
.table-username,
.table-ban-status {
    padding: 10px;
    text-align: left;
}

.admin-user-ban-date {
    background-color: #F0F0F0;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px #bebebe,
                inset -5px -5px 5px #ffffff;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

.admin-user-ban-date option {
    padding: 10px;
}

.unban-btn {
    background-color: #F0F0F0;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px #bebebe,
                inset -5px -5px 5px #ffffff;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.unban-btn:hover{
    background: linear-gradient( #dbd55e7e, #4bdc6686);
    box-shadow: inset 2px 2px 2px #dbd55e7e,
                inset -2px -2px 2px #4bdc6686;
}

.admin-user-delele-button, .ban-button{
    background-color: #F0F0F0;
    border: none;
    border-radius: 30px;
    box-shadow: inset 5px 5px 5px #bebebe,
                inset -5px -5px 5px #ffffff;
    color: #333333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.admin-user-delele-button:hover, .ban-button:hover {
    background: linear-gradient( #db7ba8aa, #e40d1b86);
    box-shadow: inset 2px 2px 2px #db7ba8aa,
                inset -2px -2px 2px #e40d1b86;
}

.admin-table-column {
    border-bottom: 1px solid #dddddd;
}

.admin-table-column:last-child {
    border-bottom: none;
}
