.chat-container {
    display: flex;
    height: 80vh;
    margin-top: 20px;
  }
  
  .chat-list {
    flex-basis: 20%;
    overflow-y: scroll;
  }
  
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages p {
    margin-bottom: 10px;
  }
  
  .chat-input {
    height: 60px;
    display: flex;
    align-items: center;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .chat-input button {
    height: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0069d9;
  }