.wrapper {
  min-width: 98%;
  position: relative;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.col {
  position: relative;
  display: inline-block;
  border: hidden;
  box-shadow: none;
  vertical-align: top;
}

.col-content {
  white-space: normal;
  position: -webkit-sticky;
  position: sticky;
}

.col1 {
  width: 25%;
  background: rgba(0, 0, 0, 0);
  padding: 0 20px 0 0;


}

.col2 {
  width: 50%;
  background: #e0e5ec;
  border: none;
  /* border-color: #3e3232; */
  border-width: 3px 3px 0 3px;
}

.col3 {
  width: 25%;
  background: rgba(0, 0, 0, 0);
  padding: 0 0 0 20px;

}


.write-post-button,
.reload-button {
  padding: 12px 16px;
  font-size: 20px;
  border-radius: 8px;
  background: linear-gradient(to right, #d42a7ae8, #e90413e3);
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
  left: 20%;
  top: 40px;
  transition: all 0.2s ease;
}

.user-rec-follow {
  height: 28px;
  display: flex;
  flex-direction: column;
}

.user-rec-follow-button {
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 10px;
  background-color: #a2adb496;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 13px;
}

/* Darker background on mouse-over */
.write-post-button:hover {
  background: linear-gradient(to right, #a6366a, #db2431);
}

/* Darker background on mouse-over */
.user-rec-follow-button:hover {
  background: linear-gradient(to right, #75264b, #8d171e);
}

/* Darker background on mouse-over */
.reload-button:hover {
  background-color: RoyalBlue;
}

.user-rec-header {
  display: inline;
  align-items: center;
  height: 28px;
}

.user-rec-font {
  font-weight: bold;
  font-size: 20px;
  /*margin-right: 2px; */
  height: 28px;

}

.user-rec-box {
  width: 320px;
  height: 200px;
  padding: 10px;
  border: 5px solid gray;
  margin: auto;
}

.user-rec-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
}


.user-rec-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}