.tweet-card-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.tweet-card {
    background-color: #e0e5ec;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    max-width: 600px;
    min-width: 600px;
    min-height: 225px;
}


/* Tweet header with user information and tweet ID */
.tweet-header {
    display: flex;
    align-items: center;
    height: 28px;
}

.avatar img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.username {
    font-weight: bold;
    font-size: 16px;
    margin-right: 4px;
    height: 28px;
}

.follow {
    height: 28px;
    display: flex;
    flex-direction: column;
}

.follow-button {
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 10px;
    box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 13px;
    transition: all 0.3s ease;
}

.vertical-line {
    height: 23px;
    width: 0.5px;
    background-color: #c3c3c3;
}

.tweet-id {
    height: 28px;
    font-size: 14px;
    margin-top: 3px;
    color: #657786;
    padding-left: 13px;
}

.horizontal-line {
    height: 0.5px;
    width: 100%;
    background-color: #c3c3c3;
}


/* Tweet content */
.tweet-content {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}


/* Tweet image */
.tweet-image {
    max-width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 4px #bebebe8c, -2px -2px 4px #ffffff77;
}

.tweet-image img {
    max-height: 150px;
    object-fit: fill;
    border-radius: 10px;
}


/* tweet text and action buttons*/
.tweet-text-container {
    margin-left: 20px;
    position: relative;
    min-height: 150px;
    width: 398px;
    
}

.tweet-text {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.tweet-actions {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    right: 0px;
    justify-content: right;
    margin-right: 6px;
}

.retweet-button,
.like-button,
.dislike-button,
.favorite-button,
.comment-button {

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 9px;
    border-radius: 30px;
    font-size: 16px;
    background-color: transparent;
    color: #657786;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.favorite-button {
    width: 40px;
}

.retweet-button:hover,
.like-button:hover,
.favorite-button:hover,
.comment-button:hover,
.send-comment:hover {
    background-color: #bdbaba56;
}

.dislike-button:hover {
    background-color: #bdbaba56;
}


/* action count button css */
.action-number {
    display: block;
    font-size: 12px;
    text-align: center;
    padding-left: -4px;
    padding-right: 10px;
    padding-top: 11px;
}


/* comment CSS */
.comment-input {
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #e0e5ec;
    box-shadow: 2px 2px 4px #bebebe8c, -2px -2px 4px #ffffff77;
}

.comment-input input {
    width: 95%;
    padding: 5px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: #e0e5ec;
}

.comment-input input::placeholder {
    color: #cfcfcfc0;
}

.comment-input button {
    background-color: #c8cfd3a4;
    color: #657786;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}