/* .UserRecContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    
    box-shadow: 0 0 10px 0 rgb(255, 4, 4);
} */
.delete-btn{
    padding: 7px 7px;
    border-radius: 10px;
    background-color: #ff4444;
    color: #ffeaea;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    margin-left: 216px;
    margin-top: -6px;
}
.delete-btn:hover{
    background-color: #800000;

}
.Fresh-btn{
    padding: 1px 10px;
    border-radius: 5px;
    background-color: #ff4444;
    color: #ffeaea;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    margin-left: 10px;
}
.Fresh-btn:hover{
    background-color: #e60000;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    box-shadow:  8px 5px 5px rgba(240, 211, 211, 0.605);
  }
  .UserRecContainer{
    margin-top: 7px;
  }
  .Round-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    left: 65px;
    background-color: #ddd;
  }
  .User-name {
    font-weight: bold;
    position: relative;
    left: -4px;
  }

  .sign-title {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    background: linear-gradient(90deg, #fc787869 0%, #d870f778 100%);
    margin-bottom: 10px;
  }
  .User-name {
    text-align: center;
    margin-bottom: 10px;
  }
  .User-signature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: groove ;
    box-shadow: inset 0 0 8px 0 rgba(255, 246, 246, 0.827);
    border-radius: 5px;
  }
  .follow-btn {
    padding: 1px 20px;
    border-radius: 5px;
    background-color: #ff4444;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .follow-btn:hover {
    background-color: #e60000;
  }
  