.user-recommend-body {
  padding: 23px;
}

.Fresh-btn {
  padding: 8px 16px;
  outline: none;
  color: #ffeaea;
  background: linear-gradient(to right, #d42a7ae8, #e90413e3);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Fresh-btn:hover {
  background: linear-gradient(to right, #a6366a, #db2431);
}

.Container-for-two {
  margin-top: 24px;
}

.URB-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.5);
}

.UserRecContainer {
  margin-top: 7px;
  padding: 16px;
}

.user-recom-card {
  display: flex;
  flex-direction: column;
}

.delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 7px;
  top: -10px;
  margin-left: 216px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: linear-gradient(to right, #d42a7ae8, #e90413e3);
  color: #ffeaea;
  border: none;
  outline: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
  background: linear-gradient(to right, #a6366a, #db2431);

}


.Round-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 55px;
  overflow: hidden;
  margin-bottom: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.5);
}

.Round-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
}

.User-name {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: center;
}

.User-signature-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 8px;
  background-color: #e0e5ec65;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px rgba(255, 255, 255, 0.5);
}

.sign-title {
  font-size: 16px;
  font-weight: 600;
  color: #555;
  margin-bottom: 10px;
}


.User-signature {
  margin-bottom: 10px;
  font-size: 14px;
  color: #777;
}

.follow-btn {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  background: linear-gradient(to right, #d42a7ae8, #e90413e3);
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.follow-btn:hover {
  background: linear-gradient(to right, #a6366a, #db2431);
}